.full-width {
  max-width: 1400px;
}
.bluebg {
	background-size: cover;
	background-color: #00205B;}
	.bluebg h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .bluebg p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #00205B;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}



p {
	font-family: 'Ubuntu', sans-serif;
}
figure {
	opacity: 1;
    filter: alpha(opacity=100);
	}

figcaption {
	font-family: 'Ubuntu', sans-serif;
	}
@media (max-width:641px) {
	figure {
	width: 80%;
	}
}

@media (min-width:641px) {
	aside {
		display: none;
		visibility: hidden;
	}
	figure {
		width: 45%;
		float: right;
	}
		.logoimg {
	max-width: 200px;
	}
}
a.lucasmenu:link,
a.lucasmenu:visited,
a.lucasmenu:active {
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: bottom;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	}

a.lucasmenu:hover {
	color: #006699;
	text-decoration: none;
	vertical-align: bottom;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1em;
  margin: 1em 0;
}
.description {
  margin: 1em auto 2.25em;
}
.accordion body {
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  margin: 1.5em auto;
  color: #333;
}
.accordion h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2.5em;
}
.accordion ul {
  list-style: none;
  padding: 0;
}
ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul .inner.show {
  /*display: block;*/
}
ul li {
  margin: .5em 0;
}
ul li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.vertical.menu .is-accordion-submenu-parent > a::after {
  border-color: #00205B transparent transparent;
}

.vertical.menu li a.heading,
.vertical.menu li a.heading.active {
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  background-color: #fff;
}
..vertical.menu li a:hover {
  background-color: #eee;
}
.vertical.menu li a.active {
  background-color: #00205B;
  color: #fff;
}

.vertical.menu li.indent {
  padding-left: 20px;
}
.sticky.columns {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
