<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">Land Use and Development</a>
    <ul class="nested vertical menu">
      <li><a href="#jobs-housing-imbalance">Jobs/Housing Imbalance</a></li>
      <li><a href="#housing">Housing</a>
        <li class="indent"><a href="#mobile-homes">Mobile Homes</a></li>
        <li class="indent"><a href="#diverse-housing-types">Diverse Housing Types</a></li>
        <li class="indent"><a href="#companion-units">Companion Units and "Missing Middle Housing"</a></li>
        <li class="indent"><a href="#inclusionary-zoning">Inclusionary Zoning</a></li>
        <li class="indent"><a href="#short-term-rentals">Short-term Rentals (Airbnb)</a></li>
      </li>
      <li><a href="#retail-and-commercial-development">Retail and Commercial Development</a></li>
      <li><a href="#smart-growth">"Smart Growth"</a></li>
      <li><a href="#impacts-of-development">Impacts Of Development</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Transportation</a>
    <ul class="nested vertical menu">
      <li><a href="#caltrain">Caltrain</a></li>
      <li><a href="#bus-rapid-transit">Bus Rapid Transit</a></li>
      <li><a href="#hsr">High Speed Rail (HSR)</a></li>
      <li><a href="#bicycle-pedestrian-infra">Bicycle/Pedestrian Infrastructure</a></li>
      <li><a href="#trails">Trails</a></li>
      <li><a href="#parking">Parking</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class='heading'>Parks and Open Space</a>
    <ul class="nested vertical menu">
      <li><a href="#shoreline">Shoreline</a></li>
      <li><a href="#parkland-acquisition-and-types">Parkland Acquisition and Types</a></li>
      <li><a href="#trees">Trees</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class="heading">Environmental Sustainability and Climate Change</a>
    <ul class="nested vertical menu">
      <li><a href="#cce">Community Choice Energy (CCE)</a></li>
      <li><a href="#sea-level-rise">Sea Level Rise</a></li>
      <li><a href="#other-greenhouse-gas">Other Greenhouse Gas Reduction Measures</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Anti-Displacement and Homelessness</a>
    <ul class="nested vertical menu">
      <li><a href="#immediate-relief">Immediate Relief and Short-term Policies</a></li>
      <li><a href="#tenant-relocation-assistance">Tenant Relocation Assistance</a></li>
      <li><a href="#shelters-and-rapid-rehousing">Shelters and Rapid Re-Housing</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Public Participation in Government</a>
    <ul class="nested vertical menu">
      <li><a href="#gatekeepers">“Gatekeepers”</a></li>
      <li><a href="#council-agendas">Council Agendas</a></li>
      <li><a href="#open-city-hall">Open City Hall</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Government Transparency and Accountability</a>
    <ul class="nested vertical menu">
      <li><a href="#open-data">Open Data</a></li>
      <li><a href="#campaign-finance">Campaign Finance and Disclosure</a></li>
    </ul>
  </li>
</ul>
